# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Uploads
backend/uploads/

# Secrets
backend/.env
